<!-- 
<section class="hero">
  <div class="caption">
    <div class="caption-wrapper">
      <div class="card-wrapper">
        <div class="card-list">
          <br />
          <br />
          <button class="btn btn-primary">
            <font color="white">PENGUMUMAN</font>
          </button>

          <br />
          <br />
          <div class="container scroll-card">
            <div class="scrollingCard">
              <div class="top">
                <div class="wrapper">
                  <h4 class="title">Ronny Chavez</h4>
                  <div class="info"></div>
                </div>
              </div>
              <div class="bottom">
                <div class="tag">New Lead</div>
                <p class="id">#8695</p>
                <p class="type">Medicare Supplement</p>
                <p class="ad">Social Ad</p>
                <p class="phone">+1-832-456-0000</p>
              </div>
            </div>
          </div>
          <div class="container scroll-card">
            <div class="scrollingCard">
              <div class="top">
                <div class="wrapper">
                  <h4 class="title">Sarah Downes</h4>
                  <div class="info"></div>
                </div>
              </div>
              <div class="bottom">
                <div class="tag">New Lead</div>
                <p class="id">#8892</p>
                <p class="type">Medicare Supplement</p>
                <p class="ad">Search Ad</p>
                <p class="phone">+1-832-498-000</p>
              </div>
            </div>
          </div>
          <div class="container scroll-card">
            <div class="scrollingCard">
              <div class="top">
                <div class="wrapper">
                  <h4 class="title">Ellen Rankin</h4>
                  <div class="info"></div>
                </div>
              </div>
              <div class="bottom">
                <div class="tag">New Lead</div>
                <p class="id">#8901</p>
                <p class="type">Medicare Supplement</p>
                <p class="ad">News Website</p>
                <p class="phone">+1-832-444-0000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper">
    <div class="card-list">
      <br />
      <br />
      <button class="btn btn-primary">
        <font color="white">MANUAL PENGGUNA</font>
      </button>
      <br />
      <br />
      <div class="container scroll-card">
        <div class="scrollingCard">
          <div class="top">
            <div class="wrapper">
              <h4 class="title">
                <img
                  style="width: 22px; height: 25px"
                  src="../../../assets/images/pdf.png"
                />
                Ronny Chavez
              </h4>
              <div class="info"></div>
            </div>
          </div>
          <div class="bottom">
            <div class="tag">New Lead</div>
            <p class="id">#8695</p>
            <p class="type">Medicare Supplement</p>
            <p class="ad">Social Ad</p>
            <p class="phone">+1-832-456-0000</p>
          </div>
        </div>
      </div>
      <div class="container scroll-card">
        <div class="scrollingCard">
          <div class="top">
            <div class="wrapper">
              <h4 class="title"> <img
                style="width: 22px; height: 25px"
                src="../../../assets/images/pdf.png"
              />Sarah Downes</h4>
              <div class="info"></div>
            </div>
          </div>
          <div class="bottom">
            <div class="tag">New Lead</div>
            <p class="id">#8892</p>
            <p class="type">Medicare Supplement</p>
            <p class="ad">Search Ad</p>
            <p class="phone">+1-832-498-000</p>
          </div>
        </div>
      </div>
      <div class="container scroll-card">
        <div class="scrollingCard">
          <div class="top">
            <div class="wrapper">
              <h4 class="title"><img
                style="width: 22px; height: 25px"
                src="../../../assets/images/pdf.png"
              />Ellen Rankin</h4>
              <div class="info"></div>
            </div>
          </div>
          <div class="bottom">
            <div class="tag">New Lead</div>
            <p class="id">#8901</p>
            <p class="type">Medicare Supplement</p>
            <p class="ad">News Website</p>
            <p class="phone">+1-832-444-0000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="row">
  <div class="column" style="background-color: #ffb695">
    <div class="card-wrapper">
      <div class="card-list">
        <br />
        <br />
        <button class="btn btn-primary">
          <font color="white">PENGUMUMAN</font>
        </button>

        <br />
        <br />
        <div class="container scroll-card">
          <div class="scrollingCard">
            <div class="top">
              <div class="wrapper">
                <h4 class="title">Ronny Chavez</h4>
                <div class="info"></div>
              </div>
            </div>
            <div class="bottom">
              <div class="tag">New Lead</div>
              <p class="id">#8695</p>
              <p class="type">Medicare Supplement</p>
              <p class="ad">Social Ad</p>
              <p class="phone">+1-832-456-0000</p>
            </div>
          </div>
        </div>
        <div class="container scroll-card">
          <div class="scrollingCard">
            <div class="top">
              <div class="wrapper">
                <h4 class="title">Sarah Downes</h4>
                <div class="info"></div>
              </div>
            </div>
            <div class="bottom">
              <div class="tag">New Lead</div>
              <p class="id">#8892</p>
              <p class="type">Medicare Supplement</p>
              <p class="ad">Search Ad</p>
              <p class="phone">+1-832-498-000</p>
            </div>
          </div>
        </div>
        <div class="container scroll-card">
          <div class="scrollingCard">
            <div class="top">
              <div class="wrapper">
                <h4 class="title">Ellen Rankin</h4>
                <div class="info"></div>
              </div>
            </div>
            <div class="bottom">
              <div class="tag">New Lead</div>
              <p class="id">#8901</p>
              <p class="type">Medicare Supplement</p>
              <p class="ad">News Website</p>
              <p class="phone">+1-832-444-0000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column" style="background-color: #96d1cd">
    <div class="card-wrapper">
      <div class="card-list">
        <br />
        <br />
        <button class="btn btn-primary">
          <font color="white">MANUAL PENGGUNA</font>
        </button>
        <br />
        <br />
        <div class="container scroll-card">
          <div class="scrollingCard">
            <div class="top">
              <div class="wrapper">
                <h4 class="title">
                  <img
                    style="width: 22px; height: 25px"
                    src="../../../assets/images/pdf.png"
                  />
                  Ronny Chavez
                </h4>
                <div class="info"></div>
              </div>
            </div>
            <div class="bottom">
              <div class="tag">New Lead</div>
              <p class="id">#8695</p>
              <p class="type">Medicare Supplement</p>
              <p class="ad">Social Ad</p>
              <p class="phone">+1-832-456-0000</p>
            </div>
          </div>
        </div>
        <div class="container scroll-card">
          <div class="scrollingCard">
            <div class="top">
              <div class="wrapper">
                <h4 class="title">
                  <img
                    style="width: 22px; height: 25px"
                    src="../../../assets/images/pdf.png"
                  />Sarah Downes
                </h4>
                <div class="info"></div>
              </div>
            </div>
            <div class="bottom">
              <div class="tag">New Lead</div>
              <p class="id">#8892</p>
              <p class="type">Medicare Supplement</p>
              <p class="ad">Search Ad</p>
              <p class="phone">+1-832-498-000</p>
            </div>
          </div>
        </div>
        <div class="container scroll-card">
          <div class="scrollingCard">
            <div class="top">
              <div class="wrapper">
                <h4 class="title">
                  <img
                    style="width: 22px; height: 25px"
                    src="../../../assets/images/pdf.png"
                  />Ellen Rankin
                </h4>
                <div class="info"></div>
              </div>
            </div>
            <div class="bottom">
              <div class="tag">New Lead</div>
              <p class="id">#8901</p>
              <p class="type">Medicare Supplement</p>
              <p class="ad">News Website</p>
              <p class="phone">+1-832-444-0000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
