<section>
  <div class="form-container">
    <h1>Registration Form</h1>
    <form action="index.html">
      <div class="control">
        <label for="name"><font color="white">Name</font></label>
        <input type="text" id="name" />
      </div>
      <div class="control">
        <label for="psw"><font color="white">Password</font></label>
        <input type="password" id="psw" />
      </div>
      <span
        ><input type="checkbox" /> <font color="white">Remember me</font></span
      >
      <div class="control">
        <input type="submit" class="btn" value="sign up" />
      </div>
    </form>
    <p>
      <a href="#"><font color="white">Forget password ?</font></a>
    </p>
  </div>
</section>
<br />
<!-- <div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="btn-group">
				<div class="btn btn-dark"
					(click)="showDiv.previous = !showDiv.previous;showDiv.current = false;showDiv.next = false">
					Previous
				</div>
				<div class="btn btn-outline-secondary"
					(click)="showDiv.current = !showDiv.current;showDiv.previous = false;showDiv.next = false">
					Today
				</div>
				<div class="btn btn-dark" (click)="showDiv.next = !showDiv.next;showDiv.previous = false;showDiv.current = false">
					Next
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div *ngIf="showDiv.previous">Previous week datay.</div>
		<div *ngIf="showDiv.next">Next week data.</div>
		<div *ngIf="showDiv.current">Current week data</div>
	</div>
</div> -->
